/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin: 15px;
}

.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 30px;
}
